<section>

    <h2>Create New Movie</h2>
    <form action="/movies/new" method="POST">
        <label>
            Name
        </label>
        <input type="text" name="name">
        <label>
            Genre
        </label>
        <input type="text" name="genre">
        <label>
            Plot
        </label>
        <input type="text" name="plot">
        <button type="submit">Create Movie</button>
    </form>
    <a href="/">
        < </a>
            <br>
</section>