<section>

  <h2>Celebrities</h2>

  <button><a href="/celebrities">Celebrities</a></button>
  <button><a href="/celebrities/new">Add New Celebrity</a></button>
  <button><a href="/movies/new">Create New Movie</a></button>

</section>